/* CSS Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;
    color: #323232;
    border: none;

}

body {
    background-image: url("./img/background.jpg");
    background-size: cover;
}

a,
label {
    font-size: .9rem;
}

a:hover {
    color: #08558b;
}

/* container login */

#login-container {
    background-color: #fff;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 30px;
    margin-top: 10vh;
    border-radius: 10px;
    text-align: center;
}

/* formulário */

form {
    margin-top: 30px;
    margin-bottom: 20px;
}

label,
input {
    display: block;
    width: 100%;
    text-align: left;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input {
    border: 2px solid #323232;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 20px;
}

input:focus {
    border: 2px solid #08558b;
}

#forgot-pass {
    text-align: right;
    display: block;
}

input[type="submit"] {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 40px;
    border-radius: 20px;
    margin-top: 30px;
    color: #fff;
    background-color: #08558b;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #1b223c;
    transition: .5s;
}

/* formulário */

#social-container,
#social-container p {
    margin-bottom: 20px;
}

.img-social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;    
}

.facebook {
    width: 110px;
    cursor: pointer;
}

.linkedin {
    width: 40px;
    cursor: pointer;
    border-radius: 30px;
}

/* registrar */

#register-container p {
    margin-bottom: 10px;
    margin-top: 5px;
}

@media screen and (max-width:480px) {
    #login-container {
        width: 90vw;
        margin-top: 15vh;
    }
}